anndata==0.10.9
joblib==1.4.2
matplotlib==3.9.2
numpy==1.26.0
pandas==2.3.3
PyYAML==6.0.2
scanpy==1.10.3
scikit_learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
torch==1.13.0
tqdm==4.66.5
wandb==0.18.6
captum==0.7.0
